*{
    box-sizing: border-box;
}
div{
    width: 250px;
    height : 250px;
    background-color: brown;
    border: 2px solid black;
    position: relative;
}
button{
    position: absolute;
}
p{
    font-weight: bold;
}